name: SensESP Automatic Build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        example:
          - examples/lambda_transform.cpp
          - examples/minimal_app.cpp
          - examples/listener.cpp
          - examples/repeat_sensor_analog_input.cpp
          - examples/rpm_counter.cpp
          - examples/ssl_connection.cpp
        device:
          - esp32
          - esp32c3
        platform:
          - arduino
          - pioarduino
          # Can't build with espidf until there's a way to copy the
          # sdkconfig.defaults file to the correct location in the
          # CI build environment.
          #- espidf
        exclude:
          - platform: arduino
            device: esp32c3
          # SSL example requires pioarduino (SENSESP_SSL_SUPPORT)
          - platform: arduino
            example: examples/ssl_connection.cpp
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pip
            ~/.platformio/.cache
          key: ${{ runner.os }}-pio
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install dependencies
        run: |
          pip install --upgrade platformio
      - name: Run PlatformIO
        run: ci/run-ci.sh
        env:
          PLATFORMIO_CI_SRC: ${{ matrix.example }}
          CI_DEVICE: ${{ matrix.device }}
          CI_PLATFORM: ${{ matrix.platform }}
